@import url('https://cdn.jsdelivr.net/searchkit/0.9.0/theme.css');

.sk-hits-row em {
    background: #ff0;
}

.sk-filter-group__remove-action {
  text-decoration: none;
}

.sk-filter-group-items__list a{
  text-decoration: none;
}

.sk-filter-group-items__list a::after{
  content: ',';
}

.sk-filter-group-items__list a:last-child::after{
  content: '';
}

.filter-reset .is-disabled {
  display: none;
}
